.carousel {
    overflow: hidden;
    }
    .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    }
    .carousel-item {
    display: inline-flex;
    object-fit: contain;
}
.carousel-item img {
    width: 100%;
}
.indicators{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicators > button{
    margin: 1em 0.5em;
    border: 0;
    outline: 0;
    background-color: grey;
    height: 12px;
    border-radius: 4px;
}
.indicators > button.active{
    background-color: #f6dd90;
    color: #fff;
    border: 0;
    outline: 0;
    height: 12px;
    border-radius: 4px;
}
    
@media only screen and (max-width: 570px){
    .indicators > button{
        margin: 0.5em 0.5em;
        height: 1px; 
        width: 10px;
    }
    .indicators > button.active{
        height: 2px;
    }
}