.carousel{
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}
.carousel__slide{
    min-width: 100%;
    overflow: hidden;
}
.carouselleft__btn{
    top: 50%;
    left: 0;
}
.carouselright__btn{
    top: 50%;
    right: 0;
}
.carousel>button{
    position: absolute;
    width: 6%;
    height: 20%;
    cursor: pointer;
    background: none;
    border: none;
    outline: 0;
    transition: .5s;
}
.carousel>button:hover{
    background-color: rgba(0, 0, 0,0.1);
}
@media only screen and (max-width: 800px){

}
