.cart-values{
    display: flex;
    justify-content: space-between;
    border: 1px solid #343434;
    padding: 4%;
    border-radius: 3px;
}
.cart__left  h4,.cart__right h4{
    font-family: 'Poppins' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0;
}
.cart{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.cart__left{
    width: 40em;
    margin: 1em ;
}
.cart__right{
    margin: 1em;
}
.cart__quotes{
    text-align: center;
}
.cart__quotes img{
    max-width: 600px;
}
.cart__quotes Button{
    color: #f6dd90;
    border: 1px solid #f6dd90;
    margin: 1em 0;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



@media only screen and (max-width: 1024px){
    .cart__left{
        width: 30em;
    }
}
@media only screen and (max-width: 860px){
    .cart{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .cart__left{
        width: 100%;
        margin: 0;
    }
    .cart__right{
        width: 100%;
        margin: 0;
    }
    .cart{
        margin: 1em 1em;
    }
}

