.cart-values{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    padding: 4%;
    border-radius: 3px;
}
.cart__left  h4,.cart__right h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #57534a;
    margin: 0;
}
.cart{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.cart__left{
    width: 40em;
    margin: 1em ;
}
.cart__right{
    margin: 1em;
}
.cart__quotes{
    text-align: center;
}
.cart__quotes img{
    max-width: 600px;
}
.cart__quotes Button{
    color: #008000;
    border: 1px solid #008000;
    margin: 1em 0;
}



@media only screen and (max-width: 1024px){
    .cart__left{
        width: 30em;
    }
}
@media only screen and (max-width: 860px){
    .cart{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .cart__left{
        width: 95%;
    }
    .cart__right{
        width: 95%;
    }
}
