.home{
    padding: 3em 0;
}
.home__page .home__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    width: 85%;
}
.home p{
    margin: 0em 1em;
}
.home h3{
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    color: #57534a;
    text-align: center;
}
.home__page{
    display: flex;
}
.home__page .home__sidebar{
    min-width: 15em;
}