.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
}
.navbar__logo>img{
    width: 11em;
    object-fit: contain;
}

.navbar__option>nav>a{
    text-decoration: none;
    color: black;
    padding-right: 4%;
    font-size: 1.1em;
    color: #57534a;
}
.navbar__option{
    width: 40%;
}

.navbar__logincart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__logincart .MuiSvgIcon-root {
    font-size: 1.3em;
    color: #57534a;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.link__button Button{
    background-color: white;
    box-shadow: none;
    text-transform: none;
    font-size: 1em;
}
.link__button Button:hover{
    background-color: white;
    box-shadow: none;
}

.dropdown__content{
    position: absolute ;
    display: none;
    z-index: 1;
    right: 10px;
    margin: 0;
    padding: 0.5em 2em;
    background-color: bisque;

}
.dropdown:hover .dropdown__content{
    display: block;
}
ul{
    list-style-type: none;
    
}
ul li {
    padding: 0.5em 0;
}

.capitalize{
    text-transform: capitalize;
}









@media only screen and (max-width: 1300px){
    .navbar__logo>img{
        width: 20em;
    }
    .navbar__option>nav>a{
        font-size: 1.1em;
    }
    .navbar__logincart svg{
        width: 20px;
    }
} 
