.navbar__outer{
    padding: 0 3em;
    border-bottom: lightgray 1px solid;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navbar__logo{
    display: flex;
    align-items: center;
}

.navbar__logo>img{
    width: 11em;
    object-fit: contain;
    margin-right: 3em;
}

.navbar__option>.navbar__link{
    text-decoration: none;
    color: black;
    padding-right: 2em;
    font-size: 1.1em;
    color: #57534a;
}
/* .navbar__option{
    width: 40%;
} */

.navbar__logincart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logincart .MuiSvgIcon-root {
    font-size: 1.1em;
    color: #57534a;
}

.dropdown{
    display: inline-block;
    position: relative;
}
.link__button Button{
    background-color: white;
    box-shadow: none;
    text-transform: none;
    font-size: 1em;
    font-family: 'Poppins' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link__button Button:hover{
    background-color: white;
    box-shadow: none;
}

.dropdown__content {
    position: absolute ;
    display: none;
    z-index: 1000;
    top: 45;
    right: 10px;
    border: 1px solid lightgray;
    margin: 0;
    padding: 0em 1em;
    background-color: white;
    width: 12em;
}
.dropdown__content.active{
    display: block;
}
ul{
    list-style-type: none;

}
ul li {
    padding: 0.5em 0;
    border-top: 1px solid lightgray;

}

/* ul > li:first-child  {
    border-color: yellow;
} */

.capitalize{
    text-transform: capitalize;
}

.hamburger__cancel{
    display: none;
    margin: 0.5em;
    font-size: 1.3em;
}

/* .small__searchbox{
    display : none;
} */
.big__searchbox{
    display : none;
    margin-bottom: 1em ;
}



@media only screen and (max-width: 1310px){
    .navbar__outer{
        padding: 0 2em;
    }
    
    .navbar__logo>img{
        width: 9em;
        margin-right: 2em;
    }
    .navbar__option>.navbar__link{
        font-size: 1em;
        padding-right: 1.2em;
    }
    .navbar__logincart svg{
        width: 0.9em;
    }
    .link__button Button{
        font-size: 0.9em;
    }
    .dropdown__content{
        font-size: 0.9em;
    }
} 

@media only screen and (max-width: 1024px){
    .navbar__outer{
        padding: 0 1.5em;
    }
    .navbar__logo>img{
        width: 8em;
        margin-right: 2em;
    }
    
    .hamburger__cancel{
        display: block;
    }
    .navbar__option{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 119px;
        width: 100%;
        z-index: 100;
        /* margin-left: -24px; */
        left: -100%;
        opacity: 1;
    }
    .navbar__option.active{
        left: 0%;
        opacity: 1;
        transition: all 0.1s ease;
        z-index: 1000;
    }

    .navbar__category{
        width: 100%;
        background-color: white;
        padding: 1.5em 1.5em;
        border-bottom : lightgray 1px solid;;
    }
    .big__searchbox{
        display : block;
    }
    .small__searchbox{
        display : none;
    }
} 

@media only screen and (max-width: 570px){
    .navbar__outer{
        padding: 0 0.5em;
    }
    .navbar__logo>img{
        width: 6em;
        margin-right: 1.5em;
    }
    .hamburger__cancel{
        font-size: 0.9em;
    }
    
    .navbar__category{
        padding: 0.8em 0.8em;
    }

    .navbar__option>.navbar__link{
        font-size: 0.7em;
    }
    

    .navbar__logincart .MuiSvgIcon-root {
        font-size: 1em;
    }
    .link__button Button{
        font-size: 0.7em;
    }
    .navbar__option{
        top: 86px;
    }
    .dropdown__content{
        width: 8em;
        top: 30px;
        right: -18px;
    }
    ul li {
        font-size: 0.8em;
    }
    .navbar__logincart .MuiButton-root{
        padding: 0 ;
    }
    .navbar__logincart .MuiIconButton-root{
        padding: 0 ;
        font-size: 1.1em;
    }
} 


