.table {
    /* width: 100%; */
    border-collapse: collapse;
    
  }
  .table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
  }
  .table td,
  .table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
  }
  .table button {
    margin: 0 0.2rem;
  }
  button.small {
    font-size: 0.9rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
  }
  .orderhistory{
    margin : 0 4% 4% 4%;
  }