.ordersteps > div {
    border-top: 0.2em #c0c0c0 solid;
    color: #c0c0c0;
    font-weight: 700;
    flex: 1;
    padding: 1em;
}
.ordersteps > div.active{
    border-top: 0.2em #537a5a solid;
    color: #537a5a ;
}
.ordersteps{
    display: flex;
    margin-bottom: 1em;
}

@media only screen and (max-width: 850px){
    .ordersteps > div {
        font-size: 0.9em;
    }
    .ordersteps > div.active{
        border-top: 0.2em #537a5a solid;
    }
    .ordersteps{
        margin-bottom: 1em;
    }
}


@media only screen and (max-width: 570px){
    .ordersteps > div {
        font-size: 0.7em;
    }
    .ordersteps > div.active{
        border-top: 0.2em #537a5a solid;
    }
    .ordersteps{
        margin-bottom: 1em;
    }
}

