.ordersteps > div {
    border-top: 0.2em #c0c0c0 solid;
    color: #c0c0c0;
    font-weight: 700;
    flex: 1;
    padding: 1em;
}
.ordersteps > div.active{
    border-top: 0.2em #43a547 solid;
    color: #43a547 ;
}
.ordersteps{
    display: flex;
    margin-bottom: 1em;
}