.product{
    display: flex;
    flex-direction: column;
    margin:  1em;
    padding: 1em;
    max-width:17em;
    border: 1px solid #d3d3d3;
    border-radius: 0.4em;
    background-color: white;
    text-align: center;
    height: min-content;
}
.product:hover{
    background-color: rgba(211,211,211,0.3);
    cursor: pointer;
}
.product__img{
    object-fit: contain;
    max-width: 100%;
    width: 11em;
    height: 11em;
}
.product__info{
    margin: 1em 0;
}
.product__info > p{
    font-family: 'Poppins' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    height: 5em;
}
.product__btn > button{
    width: 45%;
    cursor: pointer;
    outline: 0;
    border: 1px solid #57534a;
    background-color: white;
    color: #57534a;
    padding: 0.3em 0.3em; 
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin: 0 auto;
}
.product__btn > button:active{
    transform: translateY(2px);
}
.product__btn{
    display: flex;
}
.product__info>span>del{
    color: gray;
    font-size: 13px;
}

@media only screen and (max-width: 1310px){
    .product{
        width:15em;     
        margin:  0.5em;
        padding: 0.7em;
    }
    .product__img{
        width: 9em;
        height: 9em;
    }
    .product__btn > button{
        width: 45%;
        cursor: pointer;
        outline: 0;
        border: 1px solid #57534a;
        background-color: white;
        color: #57534a;
        padding: 0.3em 0.3em; 
        font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 1024px){
    .product{
        width:14em;     
        margin:  0.4em;
        padding: 0.6em;
    }
    .product__img{
        width: 9em;
        height: 9em;
    }
    .product__btn > button{
        width: 45%;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 570px){
    .product{
        width:10em;     
        margin:  0.3em;
        padding: 0.6em 0.4em;
    }
    .product__img{
        width: 6em;
        height: 6em;
    }
    .product__btn > button{
        width: 40%;
        font-size: 0.6em;
    }
    .product__info > p{
        font-size: 0.7em;
        height: 4em;
    }
    .product__info>span>del{
        color: gray;
        font-size: 0.7em;
    }
    .product__info>span{
        font-size: 0.7em;
    }
    .product__info{
        margin: 0.5em 0 0.2em 0;
    }
}




