.pagination a{
    padding: 0.4em;
    margin: 0.3em;
    border-radius: 2em;
    border: 0.1em #a4a4a4 solid;
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .pagination a.active {
    font-weight: bold;
    color: deeppink;
  }
  .pagination {
    display: flex;  
    justify-content: center;
  }

  .sort__filter{
    display :flex;
    justify-content: space-between;
    margin: 0 3em 1em 1em;
  }