.form{
    min-width: 30em;
    background-color: #fff;
    padding: 2em;
    border: 1px solid #d3d3d3;
    border-radius: 0.4em;
    margin: 1em;
}
.form  div{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
.form h2{
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
}
.form label{
    margin: 0.2em;
}
.form input{
    border: 1px solid #d4d5d9;
    padding: 1em;
    color: #282c3f;
}
h2{
    font-size: 1.3em;
    color: #ff3e6c;
}
.signin{
    display: flex;
    justify-content: center;
}
.link__pink{
    color: #ff3e6c;
}
span{
    display: inline-block;
}
.pink__button Button{
    text-transform: none;
}


