.rates{
    font-weight: 500;
    font-family: 'Poppins' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}
.subtotal__table{
    width: 100%;
}
.subtotal{
    border: 1px solid #343434;
    padding: 1em;
    border-radius: 3px;
    min-width: 18em;
}
.subtotal__table> .subtotal__table__tr > .subtotal__table__td{
    padding: 0.3em 0;
    font-weight: 300;
}
.bt{
    border-top: 1px solid #343434;
}
.subtotal h4{
    margin: 5px 0 10px 0;
    font-weight: 500;
}
.subtotal__table> .subtotal__table__tr> .subtotal__table__th{
    text-align: left;
}
.subtotal__button > Button{
    background-color: #f6dd90;
    color: #ffffff;
    font-size: 1em;
    padding: 0.4em ;
    margin-top: 0.5em;
    border-radius: 4px;
    display: block;
    font-weight: 300;
    width: 100%;
}
.subtotal__button > Button:hover{
    background-color: #f6dd90;
}

@media only screen and (max-width: 850px){
    .subtotal__table> .subtotal__table__tr > .subtotal__table__td{
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 570px){
    .subtotal__table> .subtotal__table__tr > .subtotal__table__td{
        padding: 0.1em 0;
        font-size: 0.7em;
    }
    .subtotal{
        padding: 1em;
        min-width: 0%;
    }
    .subtotal h4{
        font-size: 0.9em;
    }
    
}


