.tiles__img{
    max-width: 46%;
    margin: 1.5% ;
}
.tiles{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 576px){
    .tiles__img{
        padding: 0 0.6rem 0.6rem 0.6rem;
        margin: 0;
        max-width: 100%;
    }
    .tiles{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
  }